<!-- product-type.component.html -->
  <h2>Product Types</h2>
  <table>
    <thead>
      <tr>
        <!--<th>ID</th>-->
        <th>Product Type Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productType of productTypes">
        <!--<td>{{ productType.ptId }}</td>-->
        <td>{{ productType.productTypeName }}</td>
        <td>{{ productType.productTypeDescription }}</td>
      </tr>
    </tbody>
  </table>

<!--<ng-template #noData>
  <p>No product types available.</p>
</ng-template>-->

<!-- Show an error message if data could not be loaded -->
<!--<div *ngIf="errorMessage">
  <p class="error">{{ errorMessage }}</p>
</div>-->
